/* TODO: use Relative Units */

/* ///////////////////// | GLOBALS | \\\\\\\\\\\\\\\\\\\\\\\ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-image: url(./assets/images/pattern-curve.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 610px) {
  body {
    background-size: 80%;
  }
}

/* ///////////////////// | COMMON | \\\\\\\\\\\\\\\\\\\\\\\ */

.container {
  --padding: 24px;
  display: grid;
  grid-template-columns: 1fr min(1110px, calc(100% - (var(--padding) * 2))) 1fr;
  height: initial;
  padding-top: calc(var(--padding));
  padding-bottom: 80px;
}

@media screen and (min-width: 610px) {
  .container {
    padding-bottom: 160px;
  }
}

@media screen and (min-width: 768px) and (min-height: 530px) and (max-width: 1109px) {
  .container {
    --padding: 32px;
    padding-top: calc(var(--padding) * 2);
  }
}

@media screen and (min-width: 1110px) {
  .container {
    --padding: 64px;
    place-items: center;
    min-height: 100vh;
    padding-block: 0px;
  }
}

.container > * {
  grid-column: 2;
}

/* Screen reader only. Visually hides element */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ///////////////////// | TESTIMONIAL SLIDER COMPONENT | \\\\\\\\\\\\\\\\\\\\\\\ */

.testimonial-slider {
  --slide-row-gap: 82px;
  --top-padding: 30px;
  position: relative;
  width: 100%;
  height: min-content;
  padding-top: var(--top-padding);
}

/* Photo background pattern */
.testimonial-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
  display: block;
  width: calc(100% + (var(--padding) * 2) + 30px);
  max-width: 327px;
  height: auto;
  aspect-ratio: 327/308;
  background-image: url(./assets/images/pattern-bg.svg);
  background-size: cover;
}

/* Quote background pattern */
.testimonial-slider::after {
  --quote-pattern-height: 50px;
  content: "";
  position: absolute;
  top: calc(
    (var(--photo-height, 255px) + var(--top-padding) + var(--slide-row-gap)) -
      (var(--quote-pattern-height) / 2)
  );
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: block;
  width: 60px;
  height: var(--quote-pattern-height);
  background-image: url(./assets/images/pattern-quotes.svg);
  background-size: cover;
}

@media screen and (min-width: 1110px) {
  .testimonial-slider {
    --top-padding: 63px;
    --slide-row-gap: 0px;
    padding-bottom: var(--top-padding);
  }
  .testimonial-slider::before {
    left: initial;
    right: -92px;
    bottom: initial;
    transform: initial;
    width: 697px;
    max-width: initial;
    height: 657px;
  }
  .testimonial-slider::after {
    --quote-pattern-height: 100px;
    top: 164px;
    left: 95px;
    transform: initial;
    width: 120px;
  }
}

/* SLIDER CONTROLS */

/* Used for positioning the controls relative to the photo */
.testiomonial-slider__controls-wrapper {
  position: absolute;
  z-index: 999;
  top: var(--top-padding);
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-slider__controls {
  --controls-height: 40px;
  position: absolute;
  bottom: calc(var(--controls-height) / -2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 80px;
  height: var(--controls-height);
  background-color: hsl(255, 100%, 100%);
  border-radius: 50px;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  overflow: hidden;
}

.testimonial-slider__controls button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.testimonial-slider__controls button:hover,
.testimonial-slider__controls button:focus {
  outline: none;
  background-color: #f4f4fc;
}

.testimonial-slider__btn-next:active {
  box-shadow: inset 10px 1px 15px -3px rgba(0, 0, 0, 0.1);
}

.testimonial-slider__btn-previous:active {
  box-shadow: inset -10px 1px 15px -3px rgba(0, 0, 0, 0.1);
}

.testimonial-slider__btn-previous::before,
.testimonial-slider__btn-next::before {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  background-size: cover;
  background-position: center;
}

.testimonial-slider__btn-previous::before {
  background-image: url(./assets/images/icon-prev.svg);
}

.testimonial-slider__btn-next::before {
  background-image: url(./assets/images/icon-next.svg);
}

@media screen and (min-width: 1110px) {
  .testiomonial-slider__controls-wrapper {
    left: initial;
    right: 0;
    transform: initial;
  }
  .testimonial-slider__controls {
    --controls-height: 56px;
    left: 62px;
    transform: initial;
    width: 112px;
  }
  .testimonial-slider__btn-previous::before,
  .testimonial-slider__btn-next::before {
    width: 13px;
    height: 18px;
  }
}

/* SLIDE */

.testimonial-slider__slides {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.testimonial-slider__slides > * {
  grid-area: 1 / 1;
}

.testimonial-slider__slide {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: var(--slide-row-gap);
  width: 100%;
  height: min-content;
  text-align: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.testimonial-slider__slide[data-active] {
  z-index: 2;
  opacity: 1;
}

.testimonial-slider__photo,
.testiomonial-slider__controls-wrapper {
  width: min(255px, 100%);
  height: auto;
  aspect-ratio: 1/1;
}

.testimonial-slider__photo {
  grid-column: 1;
  grid-row: 1;
  border-radius: 5px;
  box-shadow: 0px 40px 50px -30px hsla(240, 52%, 29%, 0.5);
  object-fit: cover;
}

.testimonial-slider__quote {
  max-width: 45ch;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  color: hsl(240, 38%, 20%);
}

.testimonial-slider__caption {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 20px;
}

.testimonial-slider__name {
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.testimonial-slider__designation {
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}

@media screen and (min-width: 1110px) {
  .testimonial-slider__slide {
    grid-template-columns: 1fr 1fr;
    text-align: start;
    justify-items: start;
  }
  .testimonial-slider__text-content {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 164px;
    z-index: 2;
  }
  .testimonial-slider__photo,
  .testiomonial-slider__controls-wrapper {
    width: 540px;
  }
  .testimonial-slider__photo {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }
  .testimonial-slider__quote {
    max-width: 32ch;
    font-size: 32px;
  }
  .testimonial-slider__caption {
    flex-direction: row;
    column-gap: 10px;
    margin-top: 32px;
  }
  .testimonial-slider__name,
  .testimonial-slider__designation {
    font-size: 20px;
  }
}
